@page
@model netCore.Pages.add_salesModel
@{
}

<h1 style=" color:black"><b>Add new Sales Man :</b></h1>
<br>

@if (Model.success_msg.Length>0)
{
   <div>
       <div class="row-cols-1">
       <div class="alert alert-success alert-dismissible">
                @Model.success_msg
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
       </div>
       </div>
   </div>
}
@if (Model.error_msg.Length > 0)
{
   <div>
        <div class="row-cols-1">
            <div class="alert alert-danger alert-dismissible">
                @Model.error_msg
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    </div>
}
<form method="post">

<div class="row-cols-1">
        <label class="col-form-label"> Sales Man Name:  </label>
        <div>
        <input type="text" class=" form-control" name="name" value="" required></input>
        </div>
        <label class="col-form-label"> Sales Man Amount:  </label>
        <div>
            <input type="number" class=" form-control" name="amount" value="" required></input>
        </div>
        <label class="col-form-label"> Sales Man City:  </label>
        <div>
            <input type="text" class=" form-control" name="city" value="" required></input>
        </div>
        <label class="col-form-label"> Sales Man Eail ID:  </label>
        <div>
            <input type="email" class=" form-control" name="email_id" value="" required></input>
        </div>
        <br>
        <br>
       <div>
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn-primary">Reset</button>
            <a href ="/sales" type="reset" class="btn btn-danger">Cancel</a>
        </div>
</div>
</form>

